
body {
    font: 12px/170% 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
    color: #91807F;
    margin: 0; padding: 0;
    background: #1d140f ;
    text-align: center;
}




/*网页名样式*/
a:link, a:visited {
    text-decoration: none;
    color: #c67114;
}
a:hover { color: #fff; }


/* 统一字体*/
h1, h2, h3, h4 {
    font: bold 1em/1.5em 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
    color: #f0e8e8;
    margin: 10px 20px 7px 20px;
}
h1 { font-size: 2.9em; font-weight: bold; letter-spacing: -2px; }
h2 { font-size: 2.8em; font-weight: bold; letter-spacing: -2px;}
h3 { font-size: 2.1em; font-weight: normal; letter-spacing: -0.5px; padding-top: 5px; }
h4 { font-size: 1.7em; }





/*导航栏*/
.nav{
    padding:0px;
    margin:0px;
    list-style-type:none;
    width:492px;
    background-color: #8bd400;
    float:left;
}

ul.nav li{
    float: left;/*当元素浮动 将不再占据文档流中的任何位置 父列表实际上没有内容 就会收缩 从而隐藏列表背景*/
    width:80px;
    border:1px solid #fff;
}

ul.nav a{
    display:block;
    padding:0 10px;/*每个按钮的宽度由锚文本的尺寸决定 所以不设置显示的宽度 而是在每个锚链接的左右设置一定的内边距*/
    line-height: 2.2;
    text-decoration:none;
    color:#fff;
}
/*如果鼠标经过，变字体颜色*/
ul.nav a:hover, ul.nav a:focus{
    color:#333;
}
/*隐藏二级标签*/
ul.nav li ul{
    width:80px;
    position:absolute;
    display: none;
    margin-top:2px;
}
/*鼠标经过显示隐藏的块*/
ul.nav li:hover ul{
    display:block;
}


/*flexn布局导航栏的外壳*/
#nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: url("images/navbg.jpg") repeat center center;
    width: 100%;
}

/*搜索框的位置*/
#quick-search {
    position: absolute;
    right: 15px;
    padding: 0; margin: 0;
    border: none;
    background: url(images/header-search.png) no-repeat;
}
/*搜索框的内部字符*/
#quick-search p {
    margin: 0; padding: 0;
    border: none;
}
/*搜索框表单*/
#quick-search input {
    float: left;
    margin: 0; padding: 5px;
    border: none;
    background: transparent;
    color: #4a413c;
}
/*搜索框输入区域*/
#quick-search .tbox {
    margin: 6px 0 0 5px;
    width: 170px;
    display: inline;
}
/*搜索框按钮*/
#search form#quick-search .btn{
    width: 25px; height: 25px;
}


/*时间框样式设置*/
#time{
    position: absolute;
    left: 15px;
    padding: 0; margin: 0;
    border: none;
}
#displaydate{
    font-size: 16px;
    color: #8bd400;
}
#displaytime{
    font-size: 16px;
    color: #8bd400;
}


/***************************************************************************************************/
/*内容区域*/
.box{
    display: flex;
    margin: 0 0 55px;
    border: solid 1px #000;
    justify-content: space-around;
}
.box-item{
    width: 200px;
    height: 200px;
    line-height: 200px;
    vertical-align: middle;
    margin: 5px;
    background-color: #ffd200;
    font-size: 100px;
    color: white;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
}
.box1{
    flex-direction: column-reverse;
    flex-wrap: wrap;
    flex-flow: row nowrap;

}
.box-item3{
    flex-grow: 2;
    flex-shrink: 2;
}


